@tailwind base;
@tailwind components;
@tailwind utilities; 

body {
    background: #210140;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}


.header {
    background: linear-gradient(to right, #383673, #8B73BF);
    text-align: center; /* Centrado de texto */
    padding-bottom: 20px; /* Espaciado interno */
    width: 80%;
    margin-left: auto; /* Centrado horizontal */
    margin-right: auto; /* Centrado horizontal */
    margin-bottom: 40px; /* Margen inferior */
    border-radius: 20px;
 
    
}

.titulo {
    font-size: 70px;
    margin-top: 3%;
    margin-left: 3%;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 
        2px 2px 0 #0000003c;
}

.btn{
    background-color: #8B73BF;
    transition: transform 0.3s ease-in-out;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    margin: 20px;
    font-family:'Arial Narrow';
    font-weight: bold;
    text-shadow: 
        1px 1px 0 #0000003c;


}

.btn:hover {
    transform: scale(1.1); /* Aumenta el tamaño del botón en un 10% */
    background-color: #9D85F2;
}


#mainBox {
   
    display: flex;
    background-color: #8B73BF;
    backdrop-filter: blur(8px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 80%;
    padding: 4px;
    overflow: hidden;
    height: 55vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
 
}

#iconoGal {
    cursor: pointer;
    transition: color 0.3s, transform 0.3s;
    transform: scale(1);
    margin-left: 5%;
}

#iconoGal:hover {
    transition: color 0.3s, transform 0.3s;
    color: #3F0A73;
    transform: scale(1.2);
}



.image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media (max-width: 600px) {
    .titulo {
        font-size: 5vw;
    }
}

/* Si la ventana del navegador es de 400px o menos, ajusta el tamaño de la fuente */
@media (max-width: 400px) {
    .titulo {
        font-size: 6vw;
    }
}